target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
Springhibernate/.idea/compiler.xml
Springhibernate/.idea/vcs.xml
Springhibernate/.idea/compiler.xml
Springhibernate/.idea/workspace.xml
Springhibernate/.idea/workspace.xml
Springhibernate/.idea/dataSources/779b77b4-fe7c-4397-b063-be670767607b.xml
Springhibernate/.idea/compiler.xml
Springhibernate/.idea/dataSources.xml
